body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    background: url(../images/spider.jpg);
}

header {
    box-sizing: border-box;
    padding: 10px 100px;
}

header.logo img {
    width: 20px;
    height: 20px;
}

section {
    height: 100vh;
    width: 100%;
}

section.one {
    background: url(../images/happyme.png);
    background-size: cover;
}

section.two {
    padding: 100px;
    height: auto;
    box-sizing: border-box;
}

section.two h2 {
    color: white;
    margin: 0;
    padding: 0 0 20px;
    font-size: 3em;
}

section.two p {
    font-size: 1.2em;
    color: white;
    padding: 0;
    margin: 0;
}

section.two ul li {
    font-size: 1.2em;
    color: white;
    padding: 0;
    margin: 0;
}

section.two ol li {
    font-size: 1.2em;
    color: white;
    padding: 0;
    margin: 0;
}

.my-name {
    text-align: center;
    position: relative;
    top: 50%;
    float: left;
    left: 5%;
    color: white;
    font-size: 20px;
}

section.three {
    padding: 100px;
    height: auto;
    box-sizing: border-box;
}

section.three h2 {
    color: white;
    margin: 0;
    padding: 0 0 20px;
    font-size: 3em;
}

section.three p {
    font-size: 1.2em;
    color: white;
    padding: 0;
    margin: 0;
}

section.three ul li {
    font-size: 1.2em;
    color: white;
    padding: 0;
    margin: 0;
}

section.three ol li {
    font-size: 1.2em;
    color: white;
    padding: 0;
    margin: 0;
}

section.three h1 {
    color: white;
    margin: 0;
    padding: 0 0 20px;
    font-size: 3em;
}

nav {
    width: 100%;
    height: 50px;
    top: 0;
    position: sticky;
    background: rgba(0, 0, 0, .8);
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

nav ul li a.active {
    background: #f00;
}

nav ul {
    display: flex;
    padding: 0 100px;
    margin: 0;
    float: right;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {}